{{! ---
general: u-section
============================================

Requirements:
- (only hbs)

Options:
- sectionClasses {String} - Modifier classes

Important Notes:

--- }}


<div class="u-section{{#if sectionClasses}} {{sectionClasses}}{{/if}}">
     
     {{{yield}}}
     
</div>
